.team-heading{
    background-color: forestgreen;
    color:black
};

.employee-card{
    background-color: chocolate;
}
.list-group-item {
    color:crimson;
  }
  
  .card-body{
      background-color: floralwhite;
  }
  